wp/db/** filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.bowerrc filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.prod filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.htaccess filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.cnf filter=lfs diff=lfs merge=lfs -text
*.00000001 filter=lfs diff=lfs merge=lfs -text
/wp/db/aria_log_control filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
/wp/db/ib_buffer_pool filter=lfs diff=lfs merge=lfs -text
/wp/db/ib_logfile0 filter=lfs diff=lfs merge=lfs -text
/wp/db/ibdata1 filter=lfs diff=lfs merge=lfs -text
/wp/db/ibtmp1 filter=lfs diff=lfs merge=lfs -text
/wp/db/mariadb_upgrade_info filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
*.MAD filter=lfs diff=lfs merge=lfs -text
*.MAI filter=lfs diff=lfs merge=lfs -text
*.frm filter=lfs diff=lfs merge=lfs -text
*.opt filter=lfs diff=lfs merge=lfs -text
*.CSM filter=lfs diff=lfs merge=lfs -text
*.CSV filter=lfs diff=lfs merge=lfs -text
*.ibd filter=lfs diff=lfs merge=lfs -text
/wp/db/undo001 filter=lfs diff=lfs merge=lfs -text
/wp/db/undo002 filter=lfs diff=lfs merge=lfs -text
/wp/db/undo003 filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.scss filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.crt filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
/wp/wp-content/wp-includes/sodium_compat/LICENSE filter=lfs diff=lfs merge=lfs -text
/yii filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
